include mixins/debate_answers
include mixins/debate_arguments

if !parent || parent == null
    h1= debate.bestTitleText()
else
    h1
      a(href="/debates/"+parent.linkableId())= parent.bestTitleText()
    h2= debate.bestTitleText()
a(href="/debates/" + debate.linkableId() + "/titles") View proposed titles
#main
  div.debate
    div.date= debate.date
    if debate.url && debate.url != null
      div.link
        | External Reference: 
        a(href=debate.url, target="_blank")= debate.url
    div.description= debate.bestDescriptionText()
    a(href="/debates/" + debate.linkableId() + "/descriptions") View proposed descriptions
    if debate.answers
        mixin answers(debate)
    if debate.type == debate.DebateTypes.DEBATE
        h4 Propose Your Own Answer
          div.bottomForm
            form(method="post", action="/debates/answers/new")
              input( type="hidden", name="_id", value=debate.linkableId())
              div
                span Author:
                input( type="text", name="user", id="addAnswerUser")
              div
                span Answer Title:
                input( type="text", name="title", id="addAnswerTitle")
              div
                span Optional Link:
                input( type="text", name="url", id="addAnswerUrl")
              div
                span Answer Description:
                textarea( name="desc", rows=5, id="addAnswerDesc")
              div#addAnswerSubmit
                input(type="submit", value="Send")
    if (debate.argumentsFor || debate.argumentsAgainst)
        mixin arguments(debate)
    if debate.type != debate.DebateTypes.DEBATE
        h4 Propose Your Own Argument
        div.bottomForm
          form(method="post", action="/debates/arguments/new")
            input( type="hidden", name="_id", value=debate.linkableId())
            div
              span Author:
              input( type="text", name="user", id="addArgumentUser")
            div
              span Argument Title:
              input( type="text", name="title", id="addArgumentTitle")
            div
              span This argument is:
              input( type="radio", name="isFor", value="true", id="addArgumentFor", checked)
              span in support of this statement
              input( type="radio", name="isFor", value="false", id="addArgumentFor")
              span against this statement
              div
                span Optional Link:
                input( type="text", name="url", id="addArgumentUrl")
            div
              span Argument Description:
              textarea( name="desc", rows=5, id="addArgumentDesc")
            div#addArgumentSubmit
              input(type="submit", value="Send")
    div.comments
      h3 Comments
      - each comment in debate.comments
        div.comment
          div.user= comment.user
          div.comment= comment.comment
    div.bottomForm
      form( method="post", action="/debates/comments/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        div
          span Author:
          input( type="text", name="user", id="addCommentUser")
        div
          span Comment:
          textarea( name="comment", rows=5, id="addCommentComment")
        div#addCommentSubmit
          input(type="submit", value="Send")


