include mixins/debate_answers
include mixins/debate_arguments

if !parent || parent == null
    h1= debate.bestTitleText()
else
    h1
      a(href="/debate/"+parent.linkableId())= parent.bestTitleText()
    h2= debate.bestTitleText()
a(href="/debate/" + debate.linkableId() + "/title") View proposed titles
#main
  div.debate
    div.date= debate.date
    if debate.ref && debate.ref != null
      div.link
        | External Reference: 
        a(href=debate.ref, target="_blank")= debate.ref
    div.body= debate.body
    if debate.answers
        mixin answers(debate)
    if debate.type == debate.DebateTypes.DEBATE
          div.bottomForm
            form(method="post", action="/debate/answer/new")
              input( type="hidden", name="_id", value=debate.linkableId())
              div
                span Author:
                input( type="text", name="user", id="addAnswerUser")
              div
                span Answer Title:
                input( type="text", name="title", id="addAnswerTitle")
              div
                span Optional Link:
                input( type="text", name="ref", id="addAnswerRef")
              div
                span Answer Description:
                textarea( name="body", rows=5, id="addAnswerBody")
              div#addAnswerSubmit
                input(type="submit", value="Send")
    if (debate.argumentsFor || debate.argumentsAgainst)
        mixin arguments(debate)
    if debate.type != debate.DebateTypes.DEBATE
        h3 Contribute Your Own Argument
        div.bottomForm
          form(method="post", action="/debate/argument/new")
            input( type="hidden", name="_id", value=debate.linkableId())
            div
              span Author:
              input( type="text", name="user", id="addArgumentUser")
            div
              span Argument Title:
              input( type="text", name="title", id="addArgumentTitle")
            div
              span This argument is:
              input( type="radio", name="isFor", value="true", id="addArgumentFor", checked)
              span in support of this statement
              input( type="radio", name="isFor", value="false", id="addArgumentFor")
              span against this statement
              div
                span Optional Link:
                input( type="text", name="ref", id="addArgumentRef")
            div
              span Argument Description:
              textarea( name="body", rows=5, id="addArgumentBody")
            div#addArgumentSubmit
              input(type="submit", value="Send")
    div.comments
      h2 Comments
      - each comment in debate.comments
        div.comment
          div.user= comment.user
          div.body= comment.comment
    div.bottomForm
      form( method="post", action="/debate/comment/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        div
          span Author:
          input( type="text", name="user", id="addCommentUser")
        div
          span Comment:
          textarea( name="comment", rows=5, id="addCommentComment")
        div#addCommentSubmit
          input(type="submit", value="Send")


