h1= title
div.debate
    div.created_at= debate.created_at
    div.title= debate.title
    div.body= debate.body
    - each comment in debate.comments
      div.comment
        div.person= comment.person
        div.comment= comment.comment
    div
      form( method="post", action="/blog/addComment")
        input( type="hidden", name="_id", value=debate._id.toHexString())
        div
          span Author :
          input( type="text", name="person", id="addCommentPerson")
        div
          span Comment :
          textarea( name="comment", rows=5, id="addCommentComment")
        div#editDebateSubmit
          input(type="submit", value="Send")
