//include mixins/debate_answers
//include mixins/debate_arguments
//include mixins/debate_fact

h1= debate.type
h2= title
a(href="/debate/" + debate._id.toHexString() + "/title") View proposed titles
#main
  div.debate
    div.created_at= debate.created_at
    div.body= debate.body
    if debate.type == debate.DebateTypes.DEBATE
      div.answers
        h2 Proposed Answers
        if debate.answers
          - each answer in debate.answers
            div.answer
              div.title
                a(href="/debate/" + debate.linkableId() + "/answer/" + answer.linkableId())= answer.bestTitleText()
              div.body= answer.body
          div.bottomForm
            form(method="post", action="/debate/answer/new")
              input( type="hidden", name="_id", value=debate.linkableId())
              div
                span Author:
                input( type="text", name="person", id="addAnswerPerson")
              div
                span Answer Title:
                input( type="text", name="title", id="addAnswerTitle")
              div
                span Answer Description:
                textarea( name="body", rows=5, id="addAnswerBody")
              div#addAnswerSubmit
                input(type="submit", value="Send")
        else
          div.none There are currently no proposed answers.
    if debate.type == debate.DebateTypes.ANSWER
      div.arguments
        div.for
          h2 Arguments in Favor
          if debate.arguments
            - each argument in debate.arguments
              // TODO: learn how to do collection selects with this language
              if argument.for == "true"
                - debate.augment(argument)
                div.argument
                  div.title
                    a(href="/debate/" + debate.linkableId() + "/argument/" + argument.id + "/" + argument._id + "/" + argument.for)= argument.bestTitleText()
              div.body= argument.body
        div.against
          h2 Arguments Against
          if debate.arguments
            - each argument in debate.arguments
              // TODO: learn how to do collection selects with this language
              if !(argument.for == "true")
                - debate.augment(argument)
                div.argument
                  div.title
                    a(href="/debate/" + debate.linkableId() + "/argument/" + argument.id + "/" + argument._id)= argument.bestTitleText()
                  div.body= argument.body
        div.bottomForm
          form(method="post", action="/debate/argument/new")
            input( type="hidden", name="_id", value=debate.linkableId())
            div
              span Author:
              input( type="text", name="person", id="addArgumentPerson")
            div
              span This argument is:
              input( type="radio", name="for", value="true", id="addArgumentFor", checked)
              span in favor of this answer
              input( type="radio", name="for", value="false", id="addArgumentFor")
              span against this answer
            div
              span Argument Title:
              input( type="text", name="title", id="addArgumentTitle")
            div
              span Argument Description:
              textarea( name="body", rows=5, id="addArgumentBody")
            div#addArgumentSubmit
              input(type="submit", value="Send")
      //if debate.type == debate.DebateTypes.FACT
        //mixin facts(debate)
    div.comments
      h2 Comments
      - each comment in debate.comments
        div.comment
          div.person= comment.person
          div.body= comment.comment
    div.bottomForm
      form( method="post", action="/debate/comment/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        div
          span Author:
          input( type="text", name="person", id="addCommentPerson")
        div
          span Comment:
          textarea( name="comment", rows=5, id="addCommentComment")
        div#addCommentSubmit
          input(type="submit", value="Send")


