if !parent || parent == null
    h1
      a(href="/debates/"+debate.linkableId())= debate.bestTitleText()
else
    h1
      a(href="/debates/"+parent.linkableId())= parent.bestTitleText()
    h2 
      a(href="/debates/"+debate.linkableId())= debate.bestTitleText()
#main
  div.debate
    div.date= debate.date
    div.body= debate.body
    div.titles
      h3 Titles
      - each title in debate.titles
        h4.title
          div.user= title.user
          div.date= title.date
          div.body= title.title
    div.bottomForm
      h4 Propose Your Own Title
      form( method="post", action="/debates/titles/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        div
          span Author:
          input( type="text", name="user", id="addTitleUser")
        div
          span Title:
          input( type="text", name="title", id="addTitleTitle")
        div#addTitleSubmit
          input(type="submit", value="Send")

