include mixins/debate_header

mixin header(debate, true)
#main
  div.debate
    div.date= debate.date
    div.description= debate.bestDescriptionText()
    div.descriptions
      h3 Descriptions
      - each desc in debate.descs
        div.description
          div.user= desc.user
          div.date= desc.date
          div(class="text unchecked")= desc.text
    div.bottomForm
      form( method="post", action="/debates/descriptions/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        fieldset
          legend Propose Your Own Description
          div
            label(for="user") Author
            input( type="text", name="user", id="addDescriptionUser")
          div
            label(for="desc") Description
              em *
            textarea( name="desc", id="addDescriptionDesc")
          div#addDescriptionSubmit
            input(type="submit", value="Send it")

