include mixins/debate_header

mixin header(debate, true)
#main
  div.debate
    div.date= debate.date
    div.body= debate.body
    div.titles
      h3 Titles
      - each title in debate.titles
        h4.title
          div.user= title.user
          div.date= title.date
          div(class="body unchecked")= title.title
    div.bottomForm
      form( method="post", action="/debates/titles/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        fieldset
          legend Propose Your Own Title
          div
            label(for="user") Author
            input( type="text", name="user", id="addTitleUser")
          div
            label(for="title") Title
              em *
            input( type="text", name="title", id="addTitleTitle")
          div#addTitleSubmit
            input(type="submit", value="Send it")

