//include mixins/debate_answers
include mixins/debate_arguments
//include mixins/debate_fact

h1= debate.type
h2= title
a(href="/debate/" + debate._id.toHexString() + "/title") View proposed titles
#main
  div.debate
    div.date= debate.date
    div.body= debate.body
    if debate.type == debate.DebateTypes.DEBATE
      div.answers
        h2 Proposed Answers
        if debate.answers
          - each answer in debate.answers
            div.answer
              div.title
                a(href="/debate/" + debate.linkableId() + "/answer/" + answer.linkableId())= answer.bestTitleText()
              div.body= answer.body
          div.bottomForm
            form(method="post", action="/debate/answer/new")
              input( type="hidden", name="_id", value=debate.linkableId())
              div
                span Author:
                input( type="text", name="user", id="addAnswerUser")
              div
                span Answer Title:
                input( type="text", name="title", id="addAnswerTitle")
              div
                span Answer Description:
                textarea( name="body", rows=5, id="addAnswerBody")
              div#addAnswerSubmit
                input(type="submit", value="Send")
        else
          div.none There are currently no proposed answers.
    if debate.type == debate.DebateTypes.ANSWER
        mixin arguments(debate)
      //if debate.type == debate.DebateTypes.FACT
        //mixin facts(debate)
    div.comments
      h2 Comments
      - each comment in debate.comments
        div.comment
          div.user= comment.user
          div.body= comment.comment
    div.bottomForm
      form( method="post", action="/debate/comment/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        div
          span Author:
          input( type="text", name="user", id="addCommentUser")
        div
          span Comment:
          textarea( name="comment", rows=5, id="addCommentComment")
        div#addCommentSubmit
          input(type="submit", value="Send")


