h1= title
div.debate
    div.created_at= debate.created_at
    div.body= debate.body
    div.titles
      h2 Titles
      - each title in debate.titles
        div.title
          div.person= title.person
          div.date= title.created_at
          div.body= title.title
    div.bottomForm
      form( method="post", action="/debate/title/new")
        input( type="hidden", name="_id", value=debate._id.toHexString())
        div
          span Author:
          input( type="text", name="person", id="addTitlePerson")
        div
          span Title:
          textarea( name="title", rows=5, id="addTitleTitle")
        div#addTitleSubmit
          input(type="submit", value="Send")

include includes/footer
