include mixins/debate_header
include mixins/debate_answers
include mixins/debate_arguments

mixin header(debate, false)
#main
  div.debate
    div.date= debate.date
    if debate.url && debate.url != null
      div.reference
        | External Reference: 
        a(href=debate.url, target="_blank")= debate.url
    div.description= debate.bestDescriptionText()
    a.action(href="/debates/" + debate.linkableId() + "/descriptions") View proposed descriptions
    if debate.answers
        mixin answers(debate)
    if debate.type == debate.DebateTypes.DEBATE
        div.bottomForm
          form(method="post", action="/debates/answers/new")
            input( type="hidden", name="_id", value=debate.linkableId())
            fieldset
              legend Propose Your Own Answer
              div
                label(for="user") Author
                input( type="text", name="user", id="addAnswerUser")
              div
                label(for="title") Answer Title
                  em *
                input( type="text", name="title", id="addAnswerTitle")
              div
                label(for="url") Optional Link
                input( type="text", name="url", id="addAnswerUrl")
              div
                label(for="desc") Answer Description
                  em *
                textarea( name="desc", rows=5, id="addAnswerDesc")
              div#addAnswerSubmit
                input(type="submit", value="Send it")
    if (debate.argumentsFor || debate.argumentsAgainst)
        mixin arguments(debate)
    if debate.type != debate.DebateTypes.DEBATE
      div.bottomForm
        form(method="post", action="/debates/arguments/new")
          input( type="hidden", name="_id", value=debate.linkableId())
          fieldset
            legend Propose Your Own Argument
            div
              label(for="user") Author
              input( type="text", name="user", id="addArgumentUser")
            div
              label(for="title") Argument Title
                em *
              input( type="text", name="title", id="addArgumentTitle")
            div
              label(for="isFor") This argument is:
                br
                input( type="radio", name="isFor", value="true", id="addArgumentFor", checked)
                | in support of this statement
                br
                input( type="radio", name="isFor", value="false", id="addArgumentFor")
                | against this statement
            div
              label(for="url") Optional Link
              input( type="text", name="url", id="addArgumentUrl")
            div
              label(for="desc") Argument Description
                em *
              textarea( name="desc", id="addArgumentDesc")
            div#addArgumentSubmit
              input(type="submit", value="Send it")
    div.comments
      h3 Comments
      - each comment in debate.comments
        div.comment
          div.user= comment.user
          div.comment= comment.comment
    div.bottomForm
      form( method="post", action="/debates/comments/new")
        input( type="hidden", name="_id", value=debate.linkableId())
        div
          label(for="user") Author
          input( type="text", name="user", id="addCommentUser")
        div
          label(for="comment") Comment
            em *
          textarea( name="comment", rows=5, id="addCommentComment")
        div#addCommentSubmit
          input(type="submit", value="Send it")


