include mixins/describable_header

mixin header(type, describable, true)
#main
  div.debate
    div.date= describable.date
    div.description= describable.bestDescriptionText()
    div.descriptions
      h3 Descriptions
      - each desc in describable.descs
        div.choose-description
          div.user= desc.user
          div.date= desc.date
          div
            if everyauth.loggedIn
              if desc.votes && desc.votes.contains(everyauth.user.login)
                img(src="/images/checked.png")
              else
                a.vote(title="Vote for this one", href="/"+type+"s/"+describable.linkableId()+"/descriptions/vote?desc="+encodeURIComponent(desc.text))
            span.description= desc.text
            span.votes= desc.votes ? "(" + desc.votes.length + " votes)" : "(0 votes)" 
    div.bottomForm
      if everyauth.loggedIn
        form( method="post", action="/" + type + "s/descriptions/new")
          input( type="hidden", name="_id", value=describable.linkableId())
          input( type="hidden", name="user", value=everyauth.user.login)
          fieldset
            legend Propose Your Own Description
            div
              label(for="desc") Description
                em *
              textarea( name="desc", id="addDescriptionDesc")
            div#addDescriptionSubmit
              input(type="submit", value="Send it")
      else
        a(href="/login") Want to contribute? Log in!

