#header
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
div#fb-root
script
  window.fbAsyncInit = function() {
    FB.init({
      appId: '284793468267979',
      status     : true, 
      cookie     : true,
      xfbml      : true,
      oauth      : true,
    });
  };
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
div.fb-login-button Login with Facebook
div.card
  form#login.standaloneForm(action='/login', method='post')
    fieldset  
      legend Please enter your login information
      #login
        label(for=everyauth.password.loginFormFieldName) Login
        input(type='text', name=everyauth.password.loginFormFieldName)
      #password
        label(for=everyauth.password.passwordFormFieldName) Password
        input(type='password', name=everyauth.password.passwordFormFieldName)
      #submit
        input(type='submit') Login