include mixins/describable_header

mixin header("reference", reference, false)
#main
  div.reference
    div.date= reference.date
    if reference.url && reference.url != null
      div.reference
        | External Reference: 
        a(href=reference.url, target="_blank")= reference.url
    div.description= reference.bestDescriptionText()
    a.action(href="/references/" + reference.linkableId() + "/descriptions") View proposed descriptions
    div.comments
      h3 Comments
      - each comment in reference.comments
        div.comment
          div.user= comment.user
          div.comment= comment.comment
    div.bottomForm
      form( method="post", action="/references/comments/new")
        input( type="hidden", name="_id", value=reference.linkableId())
        div
          label(for="user") Author
          input( type="text", name="user", id="addCommentUser")
        div
          label(for="comment") Comment
            em *
          textarea( name="comment", rows=5, id="addCommentComment")
        div#addCommentSubmit
          input(type="submit", value="Send it")


