#header
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
div.card
  form#register.standaloneForm(action='/register', method='post')
    fieldset  
      legend Enter your new account information
      #login
        label(for=everyauth.password.loginFormFieldName) Login
        input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName], class="required")
      #password
        label(for=everyauth.password.passwordFormFieldName) Password
        input(type='password', name=everyauth.password.passwordFormFieldName, class="required")
      #email
        label(for="email") Email Address
        input(type="text", name="email", value=userParams['email'], class="required")
      #submit
        input(type='submit') Register
