include mixins/search_form
include mixins/tags

#left
  mixin search_form
#main
    div.debates
      h2 Debates
      if debates && debates.length > 0
        - each debate in debates
          div.debate
            div.date= debate.date
            div.type= debate.type
            div(class="title checked")
              a(href="/debates/"+debate.linkableId())= debate.bestTitleText()
            div.description= debate.bestDescriptionText()
            mixin tags(debate)
      else
        p= "There are no debates tagged with " + tag

    div.references
      h2 References
      if references && references.length > 0
        - each reference in references
          div.reference
            div.date= reference.date
            div.type= reference.type
            div(class="title checked")
              a(href="/references/"+reference.linkableId())= reference.bestTitleText()
            div.description= reference.bestDescriptionText()
            mixin tags(reference)
      else
        p= "There are no references tagged with " + tag

    div.titles
      h2 Titles
      if titles && titles.length > 0
        - each title in titles
          div.title
            div.date= title.date
            div(class="title checked")
              a(href="/"+title.parentType+"/"+title.parent.linkableId())= title.title
            mixin tags(title)
      else
        p= "There are no titles tagged with " + tag

    div.descriptions
      h2 Descriptions
      if descriptions && descriptions.length > 0
        - each description in descriptions
          div.description
            div.date= description.date
            div.title
              a(href="/"+description.parentType+"/"+description.parent.linkableId())= description.parent.bestTitleText()
            div.text
              p= description.text
            mixin tags(description)
      else
        p= "There are no descriptions tagged with " + tag

