include mixins/describable_header

mixin header(type, describable, true)
#main
  div.debate
    div.date= describable.date
    div.description= describable.bestDescriptionText()
    div.titles
      h3 Titles
      - each title in describable.titles
        h4.choose-title
          div.user= title.user
          div.date= title.date
          div(class="body unchecked")= title.title
    div.bottomForm
      form( method="post", action="/" + type + "s/titles/new")
        input( type="hidden", name="_id", value=describable.linkableId())
        fieldset
          legend Propose Your Own Title
          div
            label(for="user") Author
            input( type="text", name="user", id="addTitleUser")
          div
            label(for="title") Title
              em *
            input( type="text", name="title", id="addTitleTitle")
          div#addTitleSubmit
            input(type="submit", value="Send it")

