include argument_form

mixin arguments(debate)
  if debate.type != debate.DebateTypes.DEBATE
      div.arguments
        div.for
          h3 Arguments in Favor
          if debate.argumentsFor
            - each argument in debate.argumentsFor
              div.argument.argumentFor(id=argument.linkableId())
                h4.title!= argument.titleLink()
                div.body= argument.body
          mixin argument_form(debate, true)
        div.against
          h3 Arguments Against
          if debate.argumentsAgainst
            - each argument in debate.argumentsAgainst
              div.argument.argumentAgainst(id=argument.linkableId())
                h4.title!= argument.titleLink()
                div.body= argument.body
          mixin argument_form(debate, false)
        div.clear
        if everyauth.loggedIn
          script(type="text/javascript")
            $(function() {
              $( ".argument" ).draggable({ revert: true });
              $( ".argument" ).width(function(index, width) {
                var el = $("#"+this.id);
                return el.find("h4 > a").width();
              });
              $( ".for, .against" ).droppable({
                accept: '.subdebate, .argument, .debate',
                drop: function( event, ui ) {
                  var dragged = ui.draggable[0];
                  if ((ui.draggable.hasClass('argumentFor') && $(this).hasClass('against'))
                      || (ui.draggable.hasClass('argumentAgainst') && $(this).hasClass('for'))
                      || (ui.draggable.hasClass('subdebate'))) {
                    if (confirm("Do you want to move this debate?")) {
                      var moveTo = $(this).hasClass('for') ? "argumentsFor" : "argumentsAgainst";
                      var url = "/debates/!{debate.linkableId()}/moveto/"+moveTo+"/"+dragged.id;
                      window.location.href = url;
                      //ui.helper.animate(ui.position, 500);
                      breakTheJavascriptOnThisPageJustToStopTheDamnedRevert();
                    } else {
                     $(this).removeClass('over');
                    }
                  }
                },
                over: function( event, ui ) {
                  if ((ui.draggable.hasClass('argumentFor') && $(this).hasClass('against'))
                      || (ui.draggable.hasClass('argumentAgainst') && $(this).hasClass('for'))
                      || (ui.draggable.hasClass('subdebate'))) {
                    $(this).addClass('over');
                  }
                },
                out: function( event, ui ) {
                 $(this).removeClass('over');
                }
              });
              $( ".argument" ).droppable({
                accept: '.subdebate, .argument, .debate',
                hoverClass: 'over',
                greedy: true,
                drop: function( event, ui ) {
                  var dragged = ui.draggable[0];
                  if (confirm("Do you want to make this debate a subdebate of the target?")) {
                    var url = "/debates/"+this.id+"/moveto/subdebates/"+dragged.id;
                    window.location.href = url;
                    //ui.helper.animate(ui.position, 500);
                    breakTheJavascriptOnThisPageJustToStopTheDamnedRevert();
                  }
                }
              });
            });