mixin header(type, describable, linkToMe)
  - var parent = type == "reference" ? describable.debate : describable.parent
  if parent && parent != null
    h1
      a(href="/debates/"+parent.linkableId(), id=parent.linkableId())= parent.bestTitleText()
    if linkToMe
      h2
        a(href="/" + type + "s/"+describable.linkableId(), id=describable.linkableId())= describable.bestTitleText()
    else
      h2= describable.bestTitleText()
        span.vote-link
          a(href="/" + type + "s/" + describable.linkableId() + "/titles", title="Improve this title")
            img(src="/images/checked.png")
  else
    if linkToMe
      h1
        a(href="/" + type + "s/"+describable.linkableId(), id=describable.linkableId())= describable.bestTitleText()
    else
      h1= describable.bestTitleText()
        span.vote-link
          a(href="/" + type + "s/" + describable.linkableId() + "/titles", title="Improve this title")
            img(src="/images/checked.png")